<%- include('header'); -%>
<div style="align-items: center;display: block;text-align: center;">
  <h2>
    This app is made with love from Ajay_theSaiyan
  </h2>
  <p>
    enjoy your time here and make sure to check all your boxes.
    💪
  </p>
</div>
<%- include('footer'); -%>