<%- include('header'); -%>
    <h2>
        This app is made with love from Ajay_theSaiyan
    </h2>
    <p>
        enjoy your time here and make sure to check all the boxes.
    </p>
    <%- include('footer'); -%>